name: Docker Base Image Builds

on:
  push:
    # Publish `master` as Docker `latest` image.
    branches:
      - master

    # Publish `v1.2.3` tags as releases.
    tags:
      - v*

env:
  IMAGE: ghcr.io/${{ github.repository }}

jobs:
  build:
    name: BuildDockerImage
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Login to ghcr.io registry
        run: docker login https://ghcr.io -u token -p ${{ secrets.GH_TOKEN }}
        
      - if: startsWith(github.ref, 'refs/heads/master')
        run: echo "TAG=latest" >> $GITHUB_ENV
        
      - if: startsWith(github.ref, 'refs/tags')
        run: echo "TAG=$(git describe --tags)" >> $GITHUB_ENV

      - name: Build & Push
        uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./Dockerfile
          push: true
          platforms: linux/amd64
          tags: ghcr.io/${{ github.repository }}:${{ env.TAG }}
          
      - name: Alert via Telegram
        run: |
          function sendTG() {
              curl -s "https://api.telegram.org/bot${{ secrets.TELEGRAM_TOKEN }}/sendmessage" \
              --data "text=${*}&chat_id=${{ secrets.TELEGRAM_TO }}&parse_mode=Markdown&disable_notification=True"
          }
          sendTG "*Docker container has been updated:* [Link](https://github.com/breakdowns/docker/pkgs/container/dockers})" &> /dev/null
